# EDA on OBJ file

In this notebook, I attempt to conduct some EDA on an OBJ file. OBJ files are similar to CSV, and contain vertex, edge and face information about a 3D object (as well as certain other properties). Let's load one up and see what we can do with it.

In [1]:
import pandas as pd
import numpy as np
import altair as alt

Before loading the OBJ file to a pandas dataframe, lets briefly explore it's contents.

The OBJ file looks similar to a basic CSV, except our delimiter is a `space`. I see 4 main categories in our first column of data- `v`, `vn`, `vt`, and `f`. These stand for `vertex`, `vertex-normal`, `vertex-texture` and `face` respectively

    `v`: Vertex, the individual data points.
    `vn`: Vertex-Normal, the normal vector to a vertex, used for lighting and refelctions.
    `vt`: Vertex-Texture, contains information about the texture map at the point in the object.
    `f`: Face, collection of 3-4 verticecs, along with information about the normal and texture.

Since our data seems to consist of 4 distinct datasets, it might be best to split these out.

## Loading the Data

Load our OBJ data file.

In [2]:
obj = pd.read_csv("../data/human-foot-in-blender.obj", delimiter=' ', names=['1','2','3','4','5'], skiprows=3, header=None)
obj.head()

   1          2          3          4    5
0  v   0.059608   0.383419  -0.047925  NaN
1  v  -0.030599  -0.016010  -0.020009  NaN
2  v   0.052395   0.402345   0.102574  NaN
3  v   0.049393  -0.015811  -0.022423  NaN
4  v  -0.061567   0.421855  -0.066727  NaN

Here I had to manually choose 5 columns to be read into our dataframe. This corresponds to the faces, which each have 4 data points.

Let's split our data into vertices, vertex-normals, vertex-textures, and faces.

In [3]:
vertices = obj[ obj['1'] == 'v' ]
vertex_textures = obj[ obj['1'] == 'vt' ]
vertex_normals = obj[ obj['1'] == 'vn' ]
faces = obj[ obj['1'] == 'f' ]

In [4]:
vertices = vertices.drop(columns=['5'])
vertices.head()

   1          2          3          4
0  v   0.059608   0.383419  -0.047925
1  v  -0.030599  -0.016010  -0.020009
2  v   0.052395   0.402345   0.102574
3  v   0.049393  -0.015811  -0.022423
4  v  -0.061567   0.421855  -0.066727

In [5]:
vertex_textures = vertex_textures.drop(columns=['5', '4'])
vertex_textures.head()

       1         2         3
1600  vt  0.625000  0.627438
1601  vt  0.625000  0.632199
1602  vt  0.625000  0.583333
1603  vt  0.625000  0.583347
1604  vt  0.625000  0.500000

In [6]:
vertex_normals = vertex_normals.drop(columns=['5'])
vertex_normals.head()

      1        2        3        4
800  vn   0.8359   0.0076  -0.5488
801  vn  -0.0570  -0.9954   0.0770
802  vn   0.6646   0.1227   0.7370
803  vn   0.1375  -0.9905   0.0050
804  vn  -0.7827   0.0011  -0.6224

In [7]:
faces.head()

      1          2           3           4          5
1723  f  716/1/716     32/2/32     34/3/34  713/4/713
1724  f    87/5/87     17/6/17     18/7/18    84/8/84
1725  f    60/9/60   796/9/796  797/10/797   68/11/68
1726  f   65/12/65  786/12/786  789/13/789   64/14/64
1727  f    84/8/84     18/7/18    13/15/13   89/16/89