# EDA on OBJ file

In this notebook, I attempt to conduct some EDA on an OBJ file. OBJ files are similar to CSV, and contain vertex, edge and face information about a 3D object (as well as certain other properties). Let's load one up and see what we can do with it.

In [5]:
import pandas as pd
import numpy as np
import altair as alt

Before loading the OBJ file to a pandas dataframe, lets briefly explore it's contents.

The OBJ file looks similar to a basic CSV, except our delimiter is a `space`. I see 4 main categories in our first column of data- `v`, `vn`, `vt`, and `f`. These stand for `vertex`, `vertex-normal`, `vertex-texture` and `face` respectively

    `v`: Vertex, the individual data points.
    `vn`: Vertex-Normal, the normal vector to a vertex, used for lighting and refelctions.
    `vt`: Vertex-Texture, contains information about the texture map at the point in the object.
    `f`: Face, collection of 3-4 verticecs, along with information about the normal and texture.

Since our data seems to consist of 4 distinct datasets, it might be best to split these out.

## Loading the Data

Load our OBJ data file.

In [10]:
obj = pd.read_csv("../data/human-foot-in-blender.obj", delimiter=' ', names=[1,2,3,4,5], skiprows=3, header=None)
obj.head()

   1          2          3          4    5
0  v   0.059608   0.383419  -0.047925  NaN
1  v  -0.030599  -0.016010  -0.020009  NaN
2  v   0.052395   0.402345   0.102574  NaN
3  v   0.049393  -0.015811  -0.022423  NaN
4  v  -0.061567   0.421855  -0.066727  NaN

Here I had to manually choose 5 columns to be read into our dataframe. This corresponds to the faces, which each have 4 data points.

Let's split our data into vertices, vertex-normals, vertex-textures, and faces.

In [ ]:
vertices = obj[ obj[1] == 'v' ]
vertex-textures = obj[ obj[1] == 'vt' ]
vertex-normals = obj[ obj[1] == 'vn' ]
faces = obj[ obj[1] == 'f' ]